<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Example App</title>
</head>
<body>
    <header id="navBar" class="">
        <nav class="d-flex justify-content-around align-items-center">
            <h2>Blog Post</h2>
            <ul class="d-flex gap-4 list-unstyled mt-3 ">
                <a href="/login" target="_blank">Posts</a>
                <a>Profile</a>
                <a>Log in</a>
            </ul>
        </nav>
    </header>
    {{{body}}}

</body>
</html>
