<div class="mt-3 container">
  <div class="d-flex justify-content-around title">
    <h3>Blog Post Title</h3>
    <h3>Author: Daniel</h3>
  </div>
<div class="p-4 post-text">
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere
    sunt mollitia nostrum in error cupiditate quisquam maxime consequuntur! Suscipit ipsum neque commodi
    hic optio excepturi veniam voluptates non ea modi?
  </p>
</div>
</div>
